version: "3.9"
services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - svc-clientes
    networks:
      - internal_net
    restart: unless-stopped
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./api-gateway/certs:/etc/nginx/certs:ro

  svc-clientes:
    build: ./svc-clientes
    expose:
      - "5000"
    networks:
      - internal_net
    restart: unless-stopped

networks:
  internal_net:
    driver: bridge
